<ul>
  <li class="py-2" *ngFor="let i of index">
    <div class="content-thumb">
      <a routerLink="/search">
        <img height="100%" width="100%" src="http://img.56dy.com/upload/img/1906/0680571001561818302.jpg" alt="">
        <span>HDTC中字版</span>
      </a>
    </div>
    <div class="content-detail">
      <h3 class="content-title">
        <a routerLink="/search">蜘蛛侠：英雄远征</a>
      </h3>
      <p>
        <span class="content-text">导演: &nbsp;</span>乔・沃茨
      </p>
      <p>
        <span class="content-text">主演: &nbsp;</span>杰克・吉伦哈尔
      </p>
      <p>
        <span class="content-text">类型: &nbsp;</span>科幻
        <span class="dropdown-toggle-split"></span>
        <span class="content-text">地区: &nbsp;</span>美国
        <span class="dropdown-toggle-split"></span>
        <span class="content-text">年份: &nbsp;</span>2019
      </p>
      <p class="mt-4">
        <a routerLink="/detail" class="btn btn-sm btn-primary" role="button"> 立即播放 </a>
        <a routerLink="/detail" class="btn btn-sm btn-secondary" role="button"> 查看详情 </a>
      </p>
    </div>
  </li>
</ul>

<app-pagination></app-pagination>
