.interest {
  padding: 15px;
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
  width: 100%;
  font-size: 14px;

  .interest-header {
    .interest-title {
      margin: 0;
      font-size: 18px;

      i{
        color: gold;
      }
    }
  }
}
