<ul>
  <li class="col-md-3 col-sm-4 col-6" *ngFor="let a of index">
    <div class="box my-2">
      <a routerLink="/dashboard">
        <img width="100%" height="100%" src="http://img.56dy.com/upload/img/1906/0680571001561818302.jpg" alt="">
      </a>
      <div class="box-detail">
        <h4 class="overflow-hidden mb-0 mt-1">
          <a routerLink="/dashboard" title="皮肤Skin/皮囊">蜘蛛侠：英雄远征</a>
        </h4>
        <p class="overflow-hidden mt-1 mb-0"> 杰克・吉伦哈尔   寇碧・史莫德斯   汤姆・赫兰德   赞达亚  </p>
      </div>
    </div>
  </li>
</ul>
