/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

body {
  width: 100%;
  background-color: rgba(230, 236, 240, 1.00);
}

.container{
  max-width: 1200px;
}

a{
  color: #333333;
}

a:hover{
  text-decoration: none;
  color: rgb(29, 161, 241);
}

ul{
  margin: 0;
  padding: 0;
  font-weight: normal;
}


ul, li {
  list-style-type: none;
}

